
@import "_header";
$width-wrap: 1440px;
$color-text-1: #008DCD;
$color-text-1_1: #94D1EC;
$color-text-2: #FFCC00;
$color-text-2-1:#FCE39C;
@mixin font-common ($fontz: 48px, $lineh: 58px) {
	font-size: $fontz;
	line-height: $lineh;
}

*,h1{
	box-sizing: border-box;
	margin: 0;
}
body{
	margin: 0;
	font-family: "MyriadProRegular";
	&.lock {
		@media (max-width: 320px) {
			overflow: hidden;
		}
	}
}

/******************кнопки*/

.btn{ /*синия кнопка*/
	width: 360px;
	height: 48px;
	background: #008DCD;
	border-radius: 30px;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
	}
	&:active{
		background: #94D1EC;
		
	}
	@media all and (max-width: 768px) {
		width: 280px;
		height: 48px;
	}
}
.btn1{ /*желтая кнопка*/
	width: 360px;
	height:48px;
	background: #FFCC00;
	border-radius: 30px;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
	}
	&:active{
		background: #FCE39C;
		
	}
	@media all and (max-width: 768px) {
		width:280px;
	}
}
/******************кнопки*/

/*******************заголовки-шрифты*/
.h{
	@include font-common;
	font-family: "MyriadProRegular";
	color: #363636;
	font-weight: 300;
	&_1{
		@include font-common(48px, 58px);
		font-family: "MyriadProBold";
		@media all and (max-width: 768px) {
			@include font-common(44px, 53px);
		}
	}
	&_2{
		@include font-common(36px, 43px);
		font-family: "MyriadProBold";
		@media all and (max-width: 768px) {
			@include font-common(28px, 34px);
		}
	}
	&_3{
		@include font-common(30px, 36px);
		font-family: "MyriadProBold";
	}
	&_4{
		@include font-common(18px, 22px);
		@media all and (max-width: 768px) {
			@include font-common(14px, 17px);
		}
	}
	&_5{
		@include font-common(16px, 19px);
		@media all and (max-width: 768px) {
			@include font-common(14px, 17px);
		}
	}
	&_6{
		@include font-common(24px, 23px);
		@media all and (max-width: 768px) {
			@include font-common(14px, 13px);
		}
	}
	&_7{
		@include font-common(10px, 12px);
	}
	&_8{
		@include font-common(36px, 43px);
		@media all and (max-width: 768px) {
			@include font-common(26px, 31px);
		}
	}
	&_9{
		@include font-common(20px, 24px);
	}
	&_c{
		&_1{color: #FFFFFF;}
		&_2{color: #000000;}
		&_3{color: #0055B8;}
		&_4{color: #003675;}
		&_5{color: #9E9E9E;}
		&_6{color: #008DCD;}
		
	}
	&_p{
		@include font-common(16px, 19.2px);
	}
	&_p1{
		@include font-common(20px, 24px);
		@media all and (max-width: 768px) {
			@include font-common(18px, 21px);
		}
	}
	&_s1{
		@include font-common(16px, 19px);
	}
	
	&_s1x{
		@include font-common(14px, 17px);
	}
}
/*******************заголовки*/
.wrap{
	width:$width_wrap;
	margin: 0 auto;
	display: flex;
	padding: 27px 140px 0 140px;
	@media all and (max-width: 768px) {
		width:768px;
		padding: 27px 30px 0 30px;
	}
	@media all and (max-width: 320px) {
		max-width:320px;
		padding: 38px 21px 0 21px;
	}
}
.header{
	&-wrap{
		height: 525px;
		background-image: url(../img/bg1_3.jpg);
		background-position: left bottom; /* Положение фона */
		background-repeat: no-repeat; /* Отменяем повторение фона */
		padding-top: 27px;
		flex-direction: column;
		@media all and (max-width: 768px) {
			height: 415px;
			background-position: 70% 70%;
			background-size: cover; /* Масштабируем фон */
		}
		@media all and (max-width: 320px) {
			height: 515px;
			background-image: url(../img/bg1_3_320.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top;
			&.active {
				background-color: #FFFFFF;
				background-image: none;
			}
		}
	}
	&-h{
		margin-top: 88px;
		@media all and (max-width: 768px) {
			margin-top: 55px;
			width: 400px;
		}
		@media all and (max-width: 320px) {
			margin-top: 242px;
			@include font-common(32px, 38px);
			color: #000000;
		}
	}
	&-h2{
		margin-top: 22px;
		margin-bottom: 40px;
		@media all and (max-width: 320px) {
			margin-top: 11px;
    		margin-bottom: 18px;
			@include font-common(24px, 29px);
			color: #000000;
		}
	}
	&-row{
		display: flex;
		justify-content:space-between;
		
	}
	&-menu{
		@media all and (max-width: 320px) {
			position: fixed;
			left: 0;
			top: 74px;
			width: 100%;
			height: 530px;
			background-color: #FFFFFF;
			padding: 0px 10px 20px 10px;
			transition: all 0.3s ease 0s;
			display: none;
			&.active {
				display: block;
			}
		}
	}
	
	&-nav{
		margin-top: 21px;
		display: grid;
		grid-template-columns: 73px 90px 127px 72px 90px 82px 41px;
		grid-column-gap: 50px;
		text-align: center;
		list-style: none;
		@media all and (max-width: 768px) {
			grid-column-gap: 0px;
			margin-top: 7px;
		}
		@media all and (max-width: 320px) {
			display: block;
			text-align: left;
			padding-left: 10px;
			li{
				margin: 0px 0px 20px 0px;
			}
		}
		
		&_link{
			text-decoration: none;
			transition: all 0.5s;
			@media all and (max-width: 320px) {
				color: #000000;
			}
			&:hover {
				font-family: "MyriadProBold";
			}
		}
	}
	&-questions{
		input::-webkit-input-placeholder { 
			color:#363636;
		}
		display: none;
		position: relative;
		.h_3{
			@include font-common(18px, 22px);
			margin: 0px 0px 10px 0px;
		}
		@media all and (max-width: 320px) {
			&.active{
				display: block;
			}
		}
		&-nav{
			margin-top: 20px;
			width: 280px;
			display: flex;
			justify-content: space-between;
		}
		&-telephone{
			display: block;
			height:48px;
			box-sizing: border-box;
			border-radius: 30px;
			padding-left: 21px ;
			cursor: pointer;
			border: 1px solid #363636;
			background: #E9E9E9;
			margin-top: 0px;
			margin-bottom: 10px;
			width: 280px;
		}
		&-cloud{
			left: -10px;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.2);
			backdrop-filter: blur(15px);
			height: 100vh;
			width: 320px;
		}
	}
	
	&-logo{
		left: 140px;
		top: 27px;
		&_img{
			width: 160px;
			height: 46px;
			background-image: url(../img/logo_138.png);
			@media all and (max-width: 768px) {
				width: 100px;
				height: 29px;
				background-image: url(../img/logo_100_29.png);
			}
			
			@media all and (max-width: 320px) {
				&.active{
					width: 160px;
					height: 46px;
					background-image: url(../img/send1.png);
				}
			}
		}
	}
}
.rectangle{
	background: #F7F7F7;
	&-wrap{
		height: 457px;
		background: #F7F7F7;
		@media all and (max-width: 768px) {
			height: 314px;
		}
		@media all and (max-width: 320px) {
			height: 371px;
			flex-direction: column-reverse;
			padding-top: 17px;
			padding-bottom: 17px;
		}
	}
	&-img{
		width: 660px;
		height: 336px;
		margin: 34px 0px 0px 62px;
		background-image: url(../img/Group2.png);
		@media all and (max-width: 768px) {
			width: 398px;
			height: 203px;
			background-image: url(../img/Group398_203.png);
			margin: 59px 0 0 26px;
		}
		@media all and (max-width: 320px) {
			width: 278px;
			height: 142px;
			background-image: url(../img/Group2_320.png);
			margin: 0px auto 0 auto;
		}
		
	}
	&-col{
		width: 460px;
		@media all and (max-width: 768px) {
			width: 280px;
		}
	}
	&-h{
		margin-top: 90px;
		margin-bottom: 22px;
		@media all and (max-width: 768px) {
			@include font-common(36px, 43px);
			width: 600px;
			margin-top: 25px;
		}
		@media all and (max-width: 320px) {
			@include font-common(18px, 22px);
			width: 280px;
			margin-bottom: 10px;
		}
	}
	&-p{
		margin-bottom: 40px;
		@media all and (max-width: 320px) {
			@include font-common(12px, 14px);
			margin-bottom: 15px;
		}
	}
}
.step{
	&-wrap{
		flex-wrap: wrap;
		justify-content: space-between;
		background: #FFFFFF;
		padding: 0px 70px 0 70px;
		@media all and (max-width: 320px) {
			padding: 0px 21px 0 21px;
		}
	}
	&-cell{ 
		&:nth-child(1) .step-img{
			background-image: url(../img/Asset3_4.png);
		}
		&:nth-child(2) .step-img{
			background-image: url(../img/Asset4_4.png);
		}
		&:nth-child(3) .step-img{
			background-image: url(../img/Asset5_4.png);
		}
		&:nth-child(4) .step-img{
			background-image: url(../img/Asset6_4.png);
		}
		@media all and (max-width: 768px) {
			&:nth-child(1) .step-img{
				background-image: url(../img/Asset3_4x.png);
			}
			&:nth-child(2) .step-img{
				background-image: url(../img/Asset4_4x.png);
			}
			&:nth-child(3) .step-img{
				background-image: url(../img/Asset5_4x.png);
			}
			&:nth-child(4) .step-img{
				background-image: url(../img/Asset6_4x.png);
			}
		}
	
	}
	&-img{
		margin-top: 75px;
		width: 460px;
		height: 312px;
		@media all and (max-width: 768px) {
			margin-top: 38px;
			width: 280px;
			height: 189px;
		}
		@media all and (max-width: 320px) {
			margin-top: 27px;
		}
	}
	
	&-h{
		margin-top: 41px;
		margin-bottom: 9px;
		@media all and (max-width: 768px) {
			@include font-common(26px, 31px);
			margin-top: 18px;
		}
	}
	&-p{
		width: 462px;
		height: 93px;
		margin-bottom: 32px;
		@media all and (max-width: 768px) {
			@include font-common(16px, 19px);
			width: 280px;
			margin-bottom: 0px;
		}
		@media all and (max-width: 320px) {
			@include font-common(14px, 17px);
			height: 58px;
			
		}
	}
}
.appeal{
	background: #F7F7F7;
		&-wrap{
			background: #F7F7F7;
			padding-top: 0px;
			height: 180px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media all and (max-width: 320px) {
				display: block;
				padding-top: 23px;
			}
		}
		&-h{
			@media all and (max-width: 768px) {
				width:380px;
			}
			@media all and (max-width: 320px) {
				@include font-common(24px, 29px);
				width:280px;
				margin-bottom: 15px;
			}
		}

}
.shipment{
	background: #008DCD;
	.wrap{
		height: 240px;
		background: #008DCD;
		@media all and (max-width: 768px) {
			height: 171px;
		}
		@media all and (max-width: 320px) {
			height: 283px;
		}
	}
	&-h1{
		margin: 0px 0px 13px 0;
		text-transform: uppercase;
		@media all and (max-width: 768px) {
			@include font-common(28px, 34px);
			width: 360px;
		}
	}
	.shipment-rov1_col>P{
		@media all and (max-width: 768px) {
			width: 290px;
		}
	}
	&-telephone{
		display: block;
		margin-top:25px;
		margin-bottom:9px;
		width: 360px;
		height:48px;
		background: #008DCD;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 30px;
		padding-left: 21px ;
		cursor: pointer;
		@media all and (max-width: 768px) {
			width:280px;
			@include font-common(16px, 19px);
		}
		@media all and (max-width: 320px) {
			margin-top:14px;
		}
	}
	&-consent{
		margin-top:16px;
		display:flex;
		align-items: center;
		@media all and (max-width: 768px) {
			margin-top:5px;
		}
	}
}
.cloud{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	@media all and (max-width: 320px) {
		max-width: 320px;
	}
	&.active{
		display: flex;
	}
	&-cross{
		position: absolute;
		top: 23px;
    	right: 38px;
		&:before, &:after {
			content: '';
			background-color:#008DCD;
			position: absolute;
			width: 20px;
			height: 2px;
			left: 0;
		}
		&:before{
			top: 0;
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
			bottom: -2px;
		}
		
		
	}
	&-cell{
		
		width: 440px;
		height: 336px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #FFFFFF;
		border-radius: 32px;
		input::-webkit-input-placeholder { 
			color: #008DCD;
		}
		.h_9{
			margin-bottom: 30px;
			@media all and (max-width: 320px) {
				@include font-common(16px, 19px);
			}
		}
		@media all and (max-width: 320px) {
			width: 300px;
			height: 310px;
			.btn{
				width: 280px;
			}
		}
	}
	&-telephone{
		margin: 0px auto 13px auto;
		background:#FFFFFF;
		border: 1px solid  #008DCD;
		@media all and (max-width: 320px) {
			width: 280px;
		}
	}

}
.reviews{
	&-wrap{
		padding-top: 69px;
		padding-bottom:  70px;
		display: block;
		@media all and (max-width: 768px) {
			width:768px;
			padding-top: 48px;
			>h2{
				@include font-common(36px, 43px);
			}
		}
		@media all and (max-width: 320px) {
			width:320px;
			padding-top: 28px;
			padding-bottom:  30px;
			>h2{
				@include font-common(28px, 34px);
			}
			.reviews_row_col:nth-child(3){
				display: none;
			}
		}
		
	}
	&_row{
		display: flex;
		justify-content: space-between;
		&_col1{
			padding-top: 160px;
		}
		&_col{
			width: 460px;
			padding-top: 45px;
			@media all and (max-width: 768px) {
				width: 280px;
				padding-top: 25px;
			}
			@media all and (max-width: 320px) {
				width: 230px;
			}
			>p{
				@media all and (max-width: 768px) {
					width: 280px;
				}
				@media all and (max-width: 320px) {
					@include font-common(12px, 14px);
					width: 230px;
				}
			}

			&_img{
				width: 160px;
				height: 160px;
				background-image: url(../img/image.jpg);
				@media all and (max-width: 768px) {
					background-image: url(../img/image2.jpg);
					width: 100px;
					height: 100px;
				}

			}
			&_img1{
				width: 160px;
				height: 160px;
				background-image: url(../img/image1.jpg);
				@media all and (max-width: 768px) {
					background-image: url(../img/image2_1.jpg);
					width: 100px;
					height: 100px;
				}

			}
			&_r{
				display: flex;
			}
			&_c{
				margin-left: 40px;
				margin-bottom: 27px;
				@media all and (max-width: 320px) {
					margin-left: 25px;
				}
				p:nth-child(2) {
					margin: 13px 0 13px 0;
					@media all and (max-width: 768px) {
						margin: 7px 0 7px 0;
					}
				}
				p:nth-child(4) {
					margin: 7px 0 7px 0;
					@media all and (max-width: 768px) {
						margin: 4px 0 4px 0;
					}
				}
				p{
					@media all and (max-width: 768px) {
						@include font-common(10px, 12px);
					}
				}
			}
			&_z{
				width: 20px;
				height: 20px;
				border: 2px solid #C4C4C4;
				box-sizing: border-box;
				transform: rotate(45deg);
				border-bottom: 0;
				border-left: 0;
				cursor: pointer;
				transition: all 0.5s;
				&:hover{
					border-color: #008DCD;
				}
				@media all and (max-width: 768px) {
					width: 12px;
					height: 12px;
				}
			}
			&_z1{
				width: 20px;
				height: 20px;
				border: 2px solid #C4C4C4;
				box-sizing: border-box;
				transform: rotate(45deg);
				border-top: 0;
				border-right: 0;
				cursor: pointer;
				transition: all 0.5s;
				&:hover{
					border-color: #008DCD;
				}
				@media all and (max-width: 768px) {
					width: 12px;
					height: 12px;
				}
			}
		}
		
	}
}
.advantages{
	background-color: #F7F7F7;
	&-wrap{
		height: 496px;
		background-color: #F7F7F7;
		padding-top: 100px;
		display: block;
		@media all and (max-width: 768px) {
			padding-top: 37px;
			height: 314px;
		}
		@media all and (max-width: 320px) {
			padding-top: 23px;
			height: 403px;
		
		}
		.h2{
			@media all and (max-width: 768px) {
				@include font-common(36px, 43px);
			}
		}
	}
	&-rov{

		display: flex;
		margin-top: 30px;
		justify-content: space-between;
		@media all and (max-width: 320px) {
			flex-wrap: wrap;
			margin-top: 20px;
		}
		&_col{
			width: 160px;	
			&:nth-child(1) .advantages-img {
				width: 84px;
				height: 49px;
				background-image: url(../img/Layer3.png);
				@media all and (max-width: 768px) {
					width: 56px;
					height: 32px;
					background-image: url(../img/Layer3_1.png);
				}
				@media all and (max-width: 768px) {
					width: 56px;
					height: 32px;
					background-image: url(../img/Layer3_1.png);
				}
			}
			&:nth-child(2) .advantages-img{
				width: 62px;
				height: 76px;
				background-image: url(../img/Layer1.png);
				@media all and (max-width: 768px) {
					width: 40px;
					height: 48px;
					background-image: url(../img/Layer1_1.png);
				}
				@media all and (max-width: 320px) {
					width: 34px;
					height: 40px;
					background-image: url(../img/Layer1_320.png);
				}
			}
			&:nth-child(3) .advantages-img{
				width: 66px;
				height: 66px;
				background-image: url(../img/Layer6.png);
				@media all and (max-width: 768px) {
					width: 42px;
					height: 42px;
					background-image: url(../img/Layer6_1.png);
				}
				@media all and (max-width: 320px) {
					width: 36px;
					height: 36px;
					background-image: url(../img/Layer6_320.png);
				}
			}
			&:nth-child(4) .advantages-img{
				width: 68px;
				height: 61px;
				background-image: url(../img/Layer5.png);
				@media all and (max-width: 768px) {
					width: 43px;
					height: 37px;
					background-image: url(../img/Layer5_1.png);
				}
				@media all and (max-width: 320px) {
					width: 37px;
					height: 32px;
					background-image: url(../img/Layer5_320.png);
				}
			}
			&:nth-child(5) .advantages-img{
				width: 68px;
				height: 66px;
				background-image: url(../img/Layer2.png);
				@media all and (max-width: 768px) {
					width: 44px;
					height: 43px;
					background-image: url(../img/Layer2_1.png);
				}
				@media all and (max-width: 320px) {
					width: 38px;
					height: 36px;
					background-image: url(../img/Layer2_320.png);
				}
			}
			&:nth-child(6) .advantages-img{
				width: 74px;
				height: 58px;
				background-image: url(../img/Layer4.png);
				@media all and (max-width: 768px) {
					width: 47px;
					height: 36px;
					background-image: url(../img/Layer4_1.png);
				}
				@media all and (max-width: 320px) {
					width: 40px;
					height: 31px;
					background-image: url(../img/Layer4_320.png);
				}
			}
			@media all and (max-width: 768px) {
				width: 100px;
			}
			@media all and (max-width: 320px) {
				width: 86px;
				margin-bottom: 18px;
			}
			p{
				text-align: center;
				@media all and (max-width: 768px) {
					@include font-common(12px, 14px);
					width: 100px;
				}
				@media all and (max-width: 768px) {
					@include font-common(10px, 12px);
					width: 80px;
				}
			}
		}
		&_cell{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 160px;
			height: 160px;
			border-radius: 80px;
			background-color: #FFFFFF;
			margin-bottom: 34px;
			@media all and (max-width: 768px) {
				width: 100px;
				height: 100px;
			}
			@media all and (max-width: 320px) {
				width: 86px;
				height: 86px;
				margin-bottom: 9px;
			}
			
		}
	
	}
	&-img{
		width: 84px;
		height: 76px;
		@media all and (max-width: 768px) {
			width: 56px;
			height: 48px;
		}	
	}
}
.guarantees{
	&-wrap{
		padding-top: 80px ;
		padding-bottom: 64px;
		display: block;
		
		@media all and (max-width: 768px) {
			padding-top: 47px;
			.h_2{
				@include font-common(36px, 43px);
			}
		}
		@media all and (max-width: 320px) {
			padding-top: 27px;
			padding-bottom: 20px;
			.h_2{
				@include font-common(28px, 34px);
			}
		}
		
	}
	&_rov{
		display: flex;
		margin-top: 30px;
		justify-content: space-between;
		.reviews_row_col1{
			display: none;
			@media all and (max-width: 320px) {
				display: block;
				padding-top: 24px;
			}
		}
		&_col{
			>p{
				margin-top: 18px;
				margin-bottom: 30px;
				height: 90px;
			}
			width: 360px;	
			&:nth-child(2) .guarantees-img {
				width: 75px;
				height: 70px;
				background-image: url(../img/Forma1.png);
				@media all and (max-width: 768px) {
					width: 46px;
					height: 44px;
					background-image: url(../img/Forma1x.png);
				}
				@media all and (max-width: 320px) {
					width: 28px;
					height: 26px;
					background-image: url(../img/Forma1_320.png);
				}
			}
			&:nth-child(3) .guarantees-img{
				width: 75px;
				height: 82px;
				background-image: url(../img/Forma3.png);
				@media all and (max-width: 768px) {
					width: 47px;
					height: 52px;
					background-image: url(../img/Forma3x.png);
				}
				@media all and (max-width: 320px) {
					width: 28px;
					height: 26px;
					background-image: url(../img/Forma3_320.png);
				}
			}
			&:nth-child(4) .guarantees-img{
				width: 67px;
				height: 69px;
				background-image: url(../img/Forma2.png);
				@media all and (max-width: 768px) {
					width: 49px;
					height: 51px;
					background-image: url(../img/Forma2x.png);
				}
				@media all and (max-width: 320px) {
					width: 28px;
					height: 26px;
					background-image: url(../img/Forma2_320.png);
				}
			}
									
			@media all and (max-width: 768px) {
				width: 224px;
				.btn{
					width: 220px;
				}
				h2{
					@include font-common(20px, 24px);
				}
				p{
					@include font-common(12px, 14px);
					margin-top: 9px;
					margin-bottom: 16px;
				}
			}
			@media all and (max-width: 320px) {
				width: 224px;
				.btn{
					width: 230px;
				}
				h2{
					@include font-common(16px, 19px);
					margin-left: 10px;
				}
				&:nth-child(3){display: none;}
				&:nth-child(4){display: none;}
				
			}
		}
		&_cell{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 160px;
			height: 160px;
			border-radius: 80px;
			background-color:  #F7F7F7;
			margin-bottom: 32px;
			@media all and (max-width: 768px) {
				width: 100px;
				height: 100px;
				margin-bottom: 18px;
			}
			@media all and (max-width: 320px) {
				width: 62px;
				height: 62px;
				margin-bottom: 0px;
			}

		}
		&_cul{
			@media all and (max-width: 320px) {
				display: flex;
				align-items: center;
				margin-bottom: 18px;
			}
		}
	}
	
}
.doubts{
	&-wrap{
		padding-top: 64px;
		padding-bottom: 59px;
		display: block;
		background-color: #D2ECF7;
	
		@media all and (max-width: 768px) {
			padding-top: 41px;
			padding-bottom: 39px;
			.h_2{
				@include font-common(36px, 43px);
			}
		}
		@media all and (max-width: 320px) {
			padding-top: 28px;
			padding-bottom: 25px;			
			.h_2{
				@include font-common(28px, 34px);
			}
		}
	}
	background-color: #D2ECF7;
	&_rov{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&_select{
		width: 558px;
		height: 64px;
		border-radius: 32px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #FFFFFF;
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		transition: all 0.5s;
		justify-content: space-between;
		@media all and (max-width: 768px) {
			width: 700px;
			height: 48px;
			
		}
		@media all and (max-width: 320px) {
			width: 278px;
			height: 80px;
			
		}

		&:hover{
			box-shadow: 0px 4px 20px rgba(124, 195, 225, 0.6);
		}
		p{
			width: 480px;
			margin-right: 10px;
			@media all and (max-width: 768px) {
				width:580px;
			}
			@media all and (max-width: 320px) {
				width:206px;
			}
		}
	}
	&_sel{
		width: 10px;
		height: 10px;
		border: 2px solid#008DCD;
		box-sizing: border-box;
		transform: rotate(-45deg);
		border-top: 0;
		border-right: 0;
		cursor: pointer;

	}
}
.company{
	&-wrap{
		padding-bottom: 27px;
		@media all and (max-width: 320px) {
			padding-top: 16px;
		}
		h2{
			@include font-common(0px, 0px);
		}
	}
	&_row{
		width: 1160px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_z{
			padding-top: 0;
		}
		&_col{
			&:nth-child(1) .company-img {
				background-image: url(../img/bringo.png);
				@media all and (max-width: 768px) {
					background-image: url(../img/bringo1.png);
				}
			}
			&:nth-child(2) .company-img {
				background-image: url(../img/cdek.png);
				@media all and (max-width: 768px) {
					background-image: url(../img/cdek1.png);
				}
			}
			&:nth-child(3) .company-img {
				background-image: url(../img/city_express.png);
				@media all and (max-width: 768px) {
					background-image: url(../img/city_express1.png);
				}
			}
			&:nth-child(4) .company-img {
				background-image: url(../img/dpd.png);
				@media all and (max-width: 768px) {
					background-image: url(../img/dpd1.png);
				}
			}
			&:nth-child(5) .company-img {
				background-image: url(../img/pony.png);
				@media all and (max-width: 768px) {
					background-image: url(../img/pony1.png);
				}
			}
			&:nth-child(6) .company-img {
				background-image: url(../img/spsr.png);
				@media all and (max-width: 768px) {
					background-image: url(../img/spsr1.png);
				}
			}
			&:nth-child(7) {			
				@media all and (max-width: 320px) {
					display: none;
				}
				.company-img {
					background-image: url(../img/tnt.png);
					@media all and (max-width: 768px) {
						background-image: url(../img/tnt1.png);
					}
					@media all and (max-width: 320px) {
						background-image: url(../img/ups1.png);
						
					}
				}
			}
			
			&:nth-child(8){			
				@media all and (max-width: 320px) {
					display: none;
				}
				.company-img {
					background-image: url(../img/ups.png);
					@media all and (max-width: 768px) {
						background-image: url(../img/ups1.png);
					}

					@media all and (max-width: 320px) {
						background-image: url(../img/ups1.png);
						
					}
				}

			}
		}
	}
	&-comp{
		display: flex;
		justify-content: space-between;
		width: 100%;
		@media all and (max-width: 320px) {
			flex-wrap: wrap;
		}
	}
	&-img{
		width: 94px;
		height: 60px;
		@media all and (max-width: 768px) {
			width: 66px;
			height: 42px;
		}
	}
}
.burder{
	display: none;
	@media all and (max-width: 320px) {
		display: block;
		position: relative;
		width: 40px;
		height: 33px;
		position: relative;
		z-index: 3; 
		span{
			position: absolute;
			background-color: #FFFFFF;
			width: 100%;
			height: 4px;
			left: 0;
			top: 15px;
			transition: all 0.3s ease 0s;
		}
		&:before, &:after {
			content: '';
			background-color: #FFFFFF;
			position: absolute;
			width: 100%;
			height: 4px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		&.active span{
			transform: scale(0);
		}
		&.active:before{
			background-color: #363636;
			transform: rotate(45deg);
			top: 21px;
		}
		&.active:after{
			background-color: #363636;
			transform: rotate(-45deg);
			bottom: 6px;
		}
	}
}
.footer{
	background-color: #E9E9E9;
	&-wrap{
		display: block;
		padding-top: 31px;
		padding-bottom: 22px;
		background-color: #E9E9E9;
		@media all and (max-width: 320px) {
			padding: 20px 15px 15px 15px;
		}
	}
	&_rectangle{
		display: inline-block;
		height: 2px;
		width: 1170px;
		background-color: #C4C4C4;
		margin-left: -5px;
		@media all and (max-width: 768px) {
			width: 721px;
		}
	}
	&_row1{
		display: flex;
		justify-content: space-between;
		@media all and (max-width: 320px) {
			display: block;
		}
		.btn{
			@media all and (max-width: 768px) {
				width: 220px;
			}
			@media all and (max-width: 320px) {
				width: 290px;
			}
		}
		.h_3{
			@media all and (max-width: 768px) {
				@include font-common(20px,24px);
			}
			@media all and (max-width: 320px) {
				@include font-common(18px,22px);
				margin-bottom: 15px;
			}
		}
		.rut .h.h_5.h_c_1.btn{
			display: none;
			@media all and (max-width: 320px) {
				display: flex;
			}
		}
		.h.h_5.h_c_1.btn{
			@media all and (max-width: 320px) {
				display: none;
			}

		}

	}
	&_row2{
		display: flex;
		align-items: center;
		height: 48px;
		margin-top: 19px;
		margin-bottom: 7px;
		padding-left: 7px;
		justify-content: space-between;
	}
	&-logo{
		width: 160px;
		height: 48px;
		background-image: url(../img/send1.png);
		@media all and (max-width: 768px) {
			width: 99px;
			height: 30px;
			background-image: url(../img/send12.png);
		}
	}
	&_row3{
		display: grid;
		grid-template-columns: 25% 7% 42% 12%;
		justify-content: space-between;
		padding-top: 19px;
		padding-bottom: 23px;
		a {
			margin: 0 15px;
		}
		@media all and (max-width: 768px) {
			@include font-common(12px,14px);
			grid-template-columns: 28% 7% 42% 14%;
			padding-top: 22px;
    		padding-bottom: 0px;
		}
		@media all and (max-width: 320px) {
			@include font-common(10px,12px);
			grid-template-columns: 61% 10% 42% 0%;
			
		}
		&_nav{
			@media all and (max-width: 320px) {
				display: none;
			}
		}
		
	}
	
	&_cons{
		margin-top: 9px;
			
	}
	&-burder{
		display: none;
		@media all and (max-width: 320px) {
			display: block;
			position: relative;
			width: 40px;
			height: 33px;
			position: relative;
			z-index: 3; 
			span{
				position: absolute;
				background-color: #363636;
				width: 100%;
				height: 4px;
				left: 0;
				top: 15px;
				transition: all 0.3s ease 0s;
			}
			&:before, &:after {
				content: '';
				background-color: #363636;
				position: absolute;
				width: 100%;
				height: 4px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&:before{
				top: 0;
			}
			&:after{
				bottom: 0;
			}
		}
	}
	&_nav{
		margin-top: 0;
		@media all and (max-width: 320px) {
			display: none;
		}
	}
	input::placeholder {
		color: #363636;
	}
	
	.shipment-telephone{
		border: 1px solid #363636;
		background: #E9E9E9;
		margin-top: 0px;
		margin-bottom: 0px;
		@media all and (max-width: 768px) {
			@include font-common(14px,17px);
			width: 220px;
		}
		@media all and (max-width: 320px) {
			width: 290px;
			margin-bottom: 10px;
		}
	}
}

input::-webkit-input-placeholder { 
	color: #FFFFFF; 
}

#consent{
	margin-right: 6px;
	border: 1px solid #FFFFFF;
	background-color: #008DCD;
}
#footer_consent{
	margin-right: 6px;
	border: 1px solid #363636;
	border: 1px solid #9E9E9E;
	background-color: #E9E9E9;
}